html,body {
    height:100%;
}

.row.first {
    margin-top:20px;
}

.container {
    display: flex;
    flex-flow: column;
    height:100%;
}

.tc {
    display: inline-block;
    padding:5px;
    cursor: pointer;
    font-size:11px;
}

.tc img {
    border:2px solid white;
}

.thumb-no-access {
    width:90px;
    height:90px;
    border:2px solid lightgray;
    margin:0;
    padding:20px;
    vertical-align: middle;
    display:inline-block;
}

.row.first {
    flex: 0 1 auto;
}

.row.title {
    flex: 0 1 auto;
}

.row.viewer {
    flex: 1 1 auto;
    overflow-y: scroll;
}

footer {
    flex: 0 1 40px;
}

.modal-body {
    max-height: calc(100vh - 200px);
}

#bigImage {
    margin: 0 auto;
    max-height: calc(100vh - 230px);
}

#thumbSize {
    margin-top:8px;
}


.auth-ops h5 {
    margin-top:0px;
}


@media (min-width: 900px) {
    #mainContainer {
    width: 100%;
}}


@media only screen and (max-width : 480px) {
    #thumbSizeSelector, footer {
        display:none;
    }
    .row.first {
        margin-top:0;
    }
    .container {
        padding-left: 3px;
        padding-right: 3px;
    }
}

.pageLink {
    cursor:pointer;
}

.imgContainer { width:100px; float:left;}
.canvas { clear:both; border-top:1px solid #999;padding-top: 1em}
/*#annos img { float:left; clear:both;}*/
#annos .annoInfo { margin-left:110px; }
#afterAll { clear:both; marging-top:5px;padding-bottom: 15px;}